<!DOCTYPE html>
<html>
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale="1"
		<title>Deep Square</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/boot_project.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">HOME</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">&nbsp;&nbsp;소개<span class="sr-only"></span></a></li>
						<li><a href="developer.html">&nbsp;&nbsp;개발자</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;기능<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="function.html?functionName=Grammar">맞춤법 검사</a></li>
								<li><a href="function.html?functionName=Plagiarism">표절 검사</a></li>
								<li><a href="function.html?functionName=Pass">합격 예측</a></li>
								<li><a href="function.html?functionName=recommend">추천 답변</a></li>
							</ul>	
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="내용을 입력하세요.">
						</div>
						<button type="submit" class="btn btn-defalut">검색</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">접속하기<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="loginForm.html">로그인</a></li>
								<li><a href="registerForm.html">회원가입</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading" style="background-color: #000000; color: #ffffff">
							<h3 class="paenl-title">
								<span class="glyphicon glyphicon-tags"></span>
								&nbsp;&nbsp;개발자 소개
							</h3>
						</div>
						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="images/sihun.jpg" alt="개발자 이미지">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">조시훈</h4></br>
										Deep Square의 팀장입니다.
								</div>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>개발자명</th>
									<th>생년월일</th>
									<th>학력</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>조시훈</td>
									<td>1997-08-23</td>
									<td>서경대학교 컴퓨터공학과 재학 (3학년)</td>
								</tr>
							</tbody>
						</table>
						<br><br>

						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="images/dongmin.jpg" alt="개발자 이미지">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">조동민</h4></br>
										Deep Square의 팀원입니다.
								</div>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>개발자명</th>
									<th>생년월일</th>
									<th>학력</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>조동민</td>
									<td>1996-11-05</td>
									<td>서경대학교 컴퓨터공학과 재학 (3학년)</td>
								</tr>
							</tbody>
						</table>
						<br><br>

						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="images/sungchan.jpg" alt="개발자 이미지">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">이성찬</h4></br>
										Deep Square의 팀원입니다.
								</div>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>개발자명</th>
									<th>생년월일</th>
									<th>학력</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>이성찬</td>
									<td>1996-06-05</td>
									<td>서경대학교 컴퓨터공학과 재학 (3학년)</td>
								</tr>
							</tbody>
						</table>
						<br><br>

						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="images/yongjun.jpg" alt="개발자 이미지">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">이용준</h4></br>
										Deep Square의 팀원입니다.
								</div>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>개발자명</th>
									<th>생년월일</th>
									<th>학력</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>이용준</td>
									<td>1997-03-10</td>
									<td>서경대학교 컴퓨터공학과 재학 (3학년)</td>
								</tr>
							</tbody>
						</table>
						<br>

					</div>
				</div>
			</div>
		</div>
		<footer style="background-color: #000000; color: #ffffff">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-2" style="text-align: center;"><h5>Copyright &copy; 2020</h5><h5>딥스퀘어 (Deep Square)</h5></div>
					<div class="col-sm-4"><h4>개발자 소개</h4><p>저희는 Deep Square의 개발자입니다. 서경대학교에서 공부를 하고 있으며 개발에 관심이 많습니다.</p></div>
					<div class="col-sm-2"><h4 style="text-align: center;">Navigation</h4>
						<div class="list-group">
							<a href="index.html" class="list-group-item">소개</a>
							<a href="developer.html" class="list-group-item">개발자</a>
							<a href="function.html" class="list-group-item">기능</a>
						</div>
					</div>

					<div class="col-sm-2"><h4 style="text-align: center:"><span class="glyphicon glyphicon-ok"></span>&nbsp;by 조시훈</h4></div>
					<div class="col-sm-2"><h4 style="text-align: center:"><span class="glyphicon glyphicon-ok"></span>&nbsp;by 조동민</h4></div>
					<div class="col-sm-2"><h4 style="text-align: center:"><span class="glyphicon glyphicon-ok"></span>&nbsp;by 이성찬</h4></div>
					<div class="col-sm-2"><h4 style="text-align: center:"><span class="glyphicon glyphicon-ok"></span>&nbsp;by 이용준</h4></div>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html> 